**/build/
build/
.gradle/
.idea/
*.iml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.png
!playstore/**/*.png
!**/play/**/*.png
*.mp4
*.jks
*.keystore
*service-account*.json
play-service-account.json
